
@import '../../index.css';



.hero-container{
    background-image:url('../../../public/images/Hero-Bg.jpg');
    height: 90vh;
    background-size: cover;
}

.hero-text-container{
    display: flex;
    position: relative;
    width: 50%;
    height: 90%;
    flex-direction: column;
    padding: 2rem 2rem;
    justify-content: flex-start;
    animation: leftToRight 1s linear;
}

@keyframes leftToRight {
    0%{
        left: -500px;
    }
    50%{
        left: -200px;
    }
    100%{
        left:0px;
    }
}


.hero-header{
    padding-top: 6rem;
    color: var(--white-color);
    font-size: var(--super-large-header-fontsize);
    font-weight: var(--bold-font-weight);
    
}

.hero-header-subtext{
    padding-top: 1rem;
    font-size: 2rem;
    color: var(--white-color);
    font-weight: 300;
}


.yellow-banner{
    display: inline-block;
    background-color: var(--primary-yellow);
    color: var(--white-color);
    font-weight: 500;
    font-size: 3rem;
    overflow-y: hidden;
    max-width: 100%;
    /* overflow-x: hidden;  */
    white-space: nowrap;
    max-height: 75px;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

.yellow-banner::-webkit-scrollbar{
    display: none;
}

.yellow-banner-scroll{
    animation: yellow-banner-infinte-scroll 20s linear infinite;
}

@keyframes yellow-banner-infinte-scroll {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
    
}

.first-featuer-container{
    display: flex;
    flex-direction: row;
    background-color: var(--primary-black);
    padding: 10% 1rem;
    justify-content: space-between;
}

.first-featuer-container img {
    height: 380px;
    width: 480px;
    border-radius: 20px;
}

.featuers-wrapper{
    position: relative;
}

.featuers-text-wrapper{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 70%;
    right: 0;
    color: var(--white-color);
    
}

.featuers-text-wrapper p {
    padding-left: 1.5rem;
    letter-spacing: 0.5rem;
}

.featuers-text-wrapper h3{
    padding-top: 0.1rem;
    padding-left: 1.5rem;
    width: 70%;
}

.explore-exercise-hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5% 5%;
}

.explore-exercise-wrapper{
    display: flex;
    flex-direction: row;
    margin: 10% 0%;
    /* padding: 0 10%; */
    justify-content: space-around;
    width: 100%;
    
}

.explore-exercise-results-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.explore-exercise-results {
    overflow-y: scroll;
    text-wrap: nowrap;
    max-height: 450px;
    -ms-overflow-style: none;  
  scrollbar-width: none; 
}

.explore-exercise-results::-webkit-scrollbar{
    display: none;
}

.explore-exercise-results p {
    max-width: 280px;
    text-wrap: wrap;
    padding: 1rem 2rem;
    background-color: var(--primary-black);
    color: var(--white-color);
    border-radius: 10px;
    margin: 1rem;
    font-size: 1.5rem;
}

.explore-exercise-options-wrapper{
   display: flex;
   flex-direction: column;
   align-items: center;

}
.explore-exercise-options{
    overflow-y: scroll;
    text-wrap: nowrap;
    max-height: 350px;
    -ms-overflow-style: none;  
  scrollbar-width: none; 

}

.explore-exercise-options::-webkit-scrollbar{
    display: none;
}

.explore-exercise-options p {
   padding: 0.5rem 3rem;
   margin: 1.5rem 0rem;
   font-size: 1.8rem;
   font-weight: 400;
   border-left: 4px solid var(--primary-yellow);

}
.explore-exercise-options-scroll-btn img{
    cursor: pointer;
    height: 50px;
    margin: 1rem;
}
.explore-exercise-scroll-btn img{
    cursor: pointer;
    height: 50px;
    margin: 1rem;
}

/* product featuer */

.product-featuer-container {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-black);
    justify-content: space-between;
    padding: 10% 2rem;
}

.product-featuer-container img {
    border-radius: 20px;
    height: 350px;
}

.product-featuer-text-container {

}
.product-featuer-text-container h3 {
    background-color: #042A18;
    color: var(--white-color);
    font-weight: 500;
    border-radius: 20px;
    font-size: 3.3rem;
    max-height: 350px;
    max-width: 300px;
    padding: 2rem;
}

.parallex-banner-container{
    background-image: url('../../../public/images/parallex-banner2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.parallex-banner-container-text{
    padding-top: 3rem;
}

.parallex-banner-container-text h1{
    color: var(--white-color);
    font-size: 4rem;
}

.parallex-banner-container-btn{
    padding-top: 2rem;
    padding-left: 40%;
   
}

.btn{
    margin: 2rem 2rem;
    background-color: var(--primary-yellow);
    padding: 0.8rem 2rem;
    font-size: 2rem;
    border-radius: 20px;
    color: var(--primary-black);
}

.class-scheduler-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5% 0;
}

.class-scheduler-options-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
}

.class-scheduler-options-container a {
    padding: 1rem;
    background-color: var(--primary-yellow);
    border-radius: 10px;
    color: var(--primary-black);
}

/* Modal Start */

.modal-dark-overlay-bg{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    z-index: 50;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
}

.modal-background{
    width: 90%;
    height: 90%;
    margin:auto;
    background: white;
    /* color: white; */
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}


.exercise-modal-container {
    display: flex;
    flex-direction: column;
}

.modal-close-btn{
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}
.modal-close-btn img{
    height: 50px;
    cursor: pointer;
}

.exercise-modal-content-heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem 0;
}

.exercise-modal-content-heading p:first-child{
    color: var(--primary-yellow);
    font-size: 1.8rem;
    font-weight: 500;
}

.exercise-modal-content-heading p:last-child{
    color: var(--primary-dark);
    font-size: 1.8rem;
    font-weight: 500;
}

.exercise-modal-details-container {
    display: flex;
    flex-direction: row;
    padding: 2% 0;
}

.exercise-modal-details-wrapper{
    flex: 0.6;
    padding: 1rem;
}

.exercise-modal-details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1% 2%;
    border-bottom: 2px solid var(--primary-yellow);
}

.exercise-modal-details p:first-child{
    padding: 3%;
    font-size: 1.3rem;
   
}
.exercise-modal-details p:last-child{
    padding: 3%;
    font-size: 1.5rem;
    font-weight: 500;
}

.exercise-modal-details-second-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5%;
}

.exercise-modal-details-second {
    display: flex;
    flex-direction: column;
    border-left: 2px solid var(--primary-yellow);
    padding-left: 1rem;
    font-weight: 500;
}
.exercise-modal-details-second-container  p{
    padding: 5%;
    font-size: 1.3rem;
   
}

.exercise-modal-instructions-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 500px;
    margin-left: 2rem;
    margin-top: 8%;
}

.exercise-modal-instructions-container h3{
    padding-bottom: 1rem;
}
.exercise-modal-instructions{
    border-left: 2px solid var(--primary-yellow);
    padding: 1rem;
}


/* Modal End */


/* Media Query Start */

/* Small devices such as large phones (640px and up) */
@media only screen and (max-width: 640px) and (min-width: 200px)  {

    html,body{
        overflow-x: hidden;
    }

    .nav-container{
        display: none !important;
    }

    .moblie-nav{
        display: block !important;
    }
      
    .moblie-nav-container{
        display: flex;
    }

    .hero-header {
        padding-top: 4.5rem;
        font-size: 3rem !important;
    }
    .hero-header-subtext {
        font-size: 2rem !important;
    }

    .first-featuer-container {
        flex-direction: column;
        align-items: center;
    }
    .first-featuer-container img {
        height: 280px;
        width: 380px;
    }

    .product-featuer-container {
        flex-direction: column;
    }
    /* .product-featuer-container img {
        height: 220px;
    } */
    .product-featuer-container .product-featuer-text-container h3 {
        font-size: 2.8rem;
    }

    .parallex-banner-container-text h1 {
        font-size: 2.2rem;
    }
    .parallex-banner-container-btn {
        padding-top: 3.5rem;
        padding-left: 20%;
    }
    .parallex-banner-container-text .btn {
        font-size: 2rem;
    }

    .subscribe-text-container p {
        font-size: 0.5rem !important;
    }
    .subscribe-container > .subscribe-text-container h1 {
        font-size: 1.3rem !important;
    }
    .subscribe-container{
        flex-direction: column !important;
    }
    .subscribe-container .subscribe-btn-container input {
        padding: 1rem !important;
        font-size: 1rem !important;
        width: 200px !important;
    }
    .subscribe-container .subscribe-btn-container button {
        padding: 1rem;
        font-size: 1rem;
        margin-top: 1rem;
    }

    .exercise-content-heading{
        flex-direction: column;
    }
    .exercise-content-heading p:last-child{
        padding: 0 1rem;
    }
    .exercise-options-container{
        display: flex;
        flex-direction: column;
    }
    .exercise-options-container span{
        font-size: 1.5rem;
    } 
    .exercise-options-container .selected{
        font-size: 2rem;
    }
    .exercise-details-container{
        padding: 10% 0 !important;
    }
    .exercise-results-wrapper p {
        font-size: 1.4rem;
    }
    .exercise-content-container{
        flex-direction: column !important;
    }
    .exercise-details-container{
        flex-direction: column !important;
    }
    .exercise-instructions-container {
        margin-top: 20%;
        margin-right: 10%;
        margin-left: 10%;
    }

    .contact-image-container{
        display: none;
    }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (max-width: 820px) and (min-width: 640px)  {
    .nav-container{
        display: none !important;
    }

    .moblie-nav{
        display: block !important;
    }
      
    .moblie-nav-container{
        display: flex;
    }

    .first-featuer-container img {
        height: 280px;
        width: 250px;
        border-radius: 20px;
    }
    .featuers-text-wrapper {
        top: 60%;
    }
    .featuers-text-wrapper p {
        font-size: 0.8rem;
    }
    .featuers-text-wrapper h3 {
       font-size: 0.8rem;
    }

    .product-featuer-container img {
        height: 220px;
    }
    .product-featuer-text-container h3 {
        font-size: 1.5rem;
    }
    .parallex-banner-container-text {
        padding-left: 2rem;
    }


    .subscribe-text-container p {
        letter-spacing: 0.2rem;
        font-size: 0.6rem;
    }
    .subscribe-container .subscribe-text-container h1 {
        margin-top: 1rem;
        font-size: 2.1rem;
    }
    .subscribe-container .subscribe-btn-container input {
        padding: 1.5rem 1.5rem 1.5rem 1.5rem;
        font-size: 1.2rem;
        width: 200px;
    }
    .subscribe-btn-container button {
        padding: 1.5rem;    
    }

    .exercise-modal-details-container {
        flex-direction: column;
    }

    .contact-image-container{
        display: none;
    }   
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (max-width: 1024px) and (min-width: 820px) {

    .hero-header {
        padding-top: 50%;
        font-size: 5.5rem;
    }
    .hero-header-subtext {
        font-size: 2.5rem;
    }

    .first-featuer-container .featuers-wrapper img{
        height: 280px;
        width: 300px;
        border-radius: 20px;
    }
    .featuers-text-wrapper p {
        padding-left: 0.8rem;
        letter-spacing: 0.3rem;
    }
    .featuers-text-wrapper h3 {
        padding-top: 0.1rem;
        padding-left: 1.5rem;
        width: 70%;
        font-size: 0.9rem;
    }
    .product-featuer-container img {
        border-radius: 20px;
        height: 250px;
    }
    .product-featuer-text-container h3 {
        font-size: 2.2rem;
    }


    .parallex-banner-container-text {
        padding-left: 2rem;
    }
    .btn {
        font-size: 3rem;
    }

    .exercise-modal-details-container {
        flex-direction: column;
    }
}


/* Medai Query End */