.exercise-header{
    background-image: url('../../../public/images/exercise-header.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
}
.exercise-header h3{
    font-size: 2.5rem;
    color: var(--white-color);
}
.exercise-options-container{
    padding: 2rem;
}
.exercise-options-container .selected{
   font-size: 2.3rem;
   background-color: var(--primary-dark-grey);
   color: var(--primary-yellow);
   border: 2px solid var(--primary-yellow);
}

.exercise-options-container span{
    padding: 1rem;
    margin: 1rem;
    background-color: var(--primary-yellow);
    border-radius: 10px;
    font-size: 1.8rem;
}

.exercise-results-container{
    /* width: 100%; */
    /* height: 100%; */
    background-color: var(--primary-black);
    /* overflow: hidden; */
    padding: 2.5rem;
    
}

.exercise-results-wrapper{
    /* background-color: #161616; */
    display: flex;
    flex-direction: row;
    cursor: pointer;
}


/* .exercise-results-scroll-start{
    height: 100px;
    width: 100px;
    background-color: rgba(255, 0, 0, 0.325);
} */

.exercise-results-wrapper p {
    padding: 1rem;
    margin: 1rem;
    background-color: var(--primary-yellow);
    border-radius: 10px;
    font-size: 1.8rem;
}

.exercise-results-scroll{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    text-wrap: nowrap;

   -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.exercise-results-scroll::-webkit-scrollbar{
    display: none;
}

.no-data-wrapper{
   display: flex;
   flex-direction: row;
}

.exercise-results-scroll .no-data-wrapper .no-data{
}

.exercise-content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.exercise-suboptions-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
  }

.exercise-suboptions-container h3{
    font-size: 1.3rem;
    margin-bottom: 10%;
}  

.exercise-suboptions-container .top-arrow{

}
.exercise-suboptions-container .top-arrow img, .exercise-suboptions-container .bottom-arrow img{
    width: 40px;
    cursor: pointer;
    margin: 1rem;
}

.bottom-arrow img {
    transform: rotate(-180deg);
}
 .exercise-suboptions-wrapper{
    max-height: 300px;
    overflow-y: scroll;
    text-wrap: nowrap;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
 } 

.exercise-suboptions-wrapper::-webkit-scrollbar{
    display: none;
}

.exercise-suboptions-wrapper p{
    padding: 0.5rem;
    margin: 0.2rem;
    background-color: var(--primary-black);
    color: var(--white-color);
    border-radius: 10px;
}

.exercise-container {
    display: flex;
    flex-direction: column;
}

.exercise-content-heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem 0;
}

.exercise-content-heading p:first-child{
    color: var(--primary-yellow);
    font-size: 1.8rem;
    font-weight: 500;
}

.exercise-content-heading p:last-child{
    color: var(--primary-dark);
    font-size: 1.8rem;
    font-weight: 500;
}

.exercise-details-container {
    display: flex;
    flex-direction: row;
    padding: 5% 0;
}

.exercise-details-wrapper{
    flex: 1;
    padding: 2rem;
}

.exercise-details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5%;
    border-bottom: 2px solid var(--primary-yellow);
}

.exercise-details p:first-child{
    padding: 5%;
    font-size: 1.3rem;
   
}
.exercise-details p:last-child{
    padding: 5%;
    font-size: 1.5rem;
    font-weight: 500;
}

.exercise-details-second-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5%;
}

.exercise-details-second {
    display: flex;
    flex-direction: column;
    border-left: 2px solid var(--primary-yellow);
    padding-left: 1rem;
    font-weight: 500;
}
.exercise-details-second-container  p{
    padding: 5%;
    font-size: 1.3rem;
   
}

.exercise-instructions-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 500px;
    margin-left: 2rem;
    margin-top: 8%;
}

.exercise-instructions-container h3{
    padding-bottom: 1rem;
}
.exercise-instructions{
    border-left: 2px solid var(--primary-yellow);
    padding: 1rem;
}


/*  empty display  */

@keyframes placeHolderShimmer {
    0% {
      background-position: -800px 0
    }
    100% {
      background-position: 800px 0
    }
  }
  
  .text-box{
    height: 20px;
    width: 150px;
  }

  .text-box-lg{
    height: 30px;
    width: 120px;
  }
  .animation-empty-text {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #bbbbbb 18%, #eeeeee 33%);
    background-size: 800px 104px;
    /* height: 70px; */
    position: relative;
  }