/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  --primary-black: #161616;
  --primary-yellow: #FFD700;
  --primary-light-grey: #E0E0E0;
  --primary-dark-grey: #2C2C2C;
  --white-color: #FFFFFF;
    padding: 0; 
    margin: 0;

  --super-large-header-fontsize: 5rem;
  --bold-font-weight: 600;
}

ul{
  list-style-type: none; 
  padding: 0; 
  margin: 0;
}

body{
  padding: 0;
  margin: 0;
}

p{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: var(--white-color);
}
h1, h2, h3{
  margin: 0;
  padding: 0;
}
textarea{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* customize global css */
.section-header{
  color:var(--primary-yellow);
  font-size: 3rem;
  padding-bottom: 1.5rem;
  border-bottom: 4px solid var(--primary-yellow);
}


/* Page Css Start */

.page-header{
  padding: 5%;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-black);
  border-top: 2px solid var(--white-color);
  border-bottom: 2px solid var(--primary-yellow);
}
.page-header h1 {
  color: var(--white-color);
}
.page-header a {
  
}

/* Page Css End */


/* Header Start */


.header-container{
  background-color: var(--primary-black);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.header-logo{
  background-color: var(--primary-yellow);
  padding-right: 1rem;
}
.header-logo img {
  width: 70px;
  height: 70px;
}
.nav-container{
  padding-right: 1rem;
  margin-right: 2rem;
}
.nav-container ul {
  display: flex;
  flex-direction: row;
  color: var(--white-color);
  gap: 3rem;
  font-size: 1.5rem;
  padding-right: 2rem;
  margin-right: 2rem;
 }

.moblie-nav{
  display: none;
}

.moblie-nav img{
  height: 35px;
  width: 35px;
  cursor: pointer;
  margin-right: 1rem;
}

.moblie-nav-container{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 90;
  background-color: rgba(0, 0, 0, 0.607);
}

.mobile-nav-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.moblie-nav-btn{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.moblie-nav-btn img{
  height: 35px;
  width: 35px;
}
.mobile-nav-options-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-nav-options-wrapper ul > li{
  padding: 1rem;
  font-size: 1.8rem;
}



/* Header End */


/* Subscribe Start */

.subscribe-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--primary-dark-grey);
  padding: 8% 0;
}

.subscribe-text-container{
  display: flex;
  flex-direction: column;
  color: var(--white-color);
}

.subscribe-text-container p{
  letter-spacing: .4rem;
}

.subscribe-text-container h1{
  letter-spacing: .1rem;
  font-size: 3.5rem;
}
.subscribe-btn-container{
  display: flex;
  flex-direction: row;
  background-color: var(--white-color);
  border-radius: 10px;
  color: var(--primary-black);
  background-color: var(--primary-dark-grey);
}

.subscribe-btn-container input{
  margin-right: -2rem;
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.subscribe-btn-container input:focus-visible{
  outline: var(--primary-yellow) solid 1px;
}
.subscribe-btn-container button{
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color:var(--primary-yellow);
  color: var(--primary-black);
  box-shadow: -1px 0px 5px 0px #000;
  

}
.subscribeError{
  padding: 0.5rem;
  margin-bottom: 10px;
  background-color: var(--primary-yellow);
  border-radius: 10px;
}
.subscribeError p{
  padding-left: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: var(--primary-yellow);
}
/* Subscribe End */

/* Footer Start */

.footer-container{
  display: flex;
  flex-direction: row;
  background-color: var(--primary-black);
  color: var(--white-color);
  padding: 1rem;
  justify-content: space-around;
}

/* Footer Start */